name: Build Lambda Function

on:
  push:
    branches: [ main ]
    paths:
      - "src/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Zip file for Lambda function
        run: |
          cd src
          zip -r ../code.zip .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Deploy to AWS Lambda
        run: |
          aws lambda update-function-code \
            --function-name Lambda-CICD \
            --zip-file fileb://code.zip
